.frame {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  border: 1px solid black;
  max-width: 100%;
  min-width: 50%;
  text-align: center;
  padding: 15px 0;
  font-size: ;
}
.line {
  margin: 0;
}

.append {
  margin-top: 15px;
  margin-right: 15px;
  text-align: end;
}
.answer {
  margin: 0;
}
.track {
  font-style: italic;
}
.hideAppend {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1000ms 0ms, visibility 1000ms 0ms;
}
.showAppend {
  opacity: 1;
  visibility: visible;
  text-align: left;
  transition: opacity 1000ms 0ms, visibility 0ms 0ms;
}
