.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
}
.button {
  margin: 10px 10px;
}
.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}
